body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 575px;
    height: 400px;
    background-color: #1B244A;
    color: #EEEEEE;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 5px;
}

.home-score, .guest-score {
    width: 155px;
    height: 120px;
    background-color: #080001;
    color: #F94F6D;
    font-size: 100px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
}

.scores {
    display: flex;
    width: 155px;
    height: 45px;
    justify-content: space-around;
    align-items: center;
}

.plus-one, .plus-two, .plus-three {
    border: 1px solid #9AABDB;
    padding: 5px;
    color: #9AABDB;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    margin-top: 80px;
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
}

#btn-container {
    /* flex-wrap: wrap; */
    margin-top: 10px;
    margin-left: 210px;
    width: 100%;
    /* margin: 10px auto; */
    /* justify-content: center; */
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
    background-color: #1fc56d;
    color: rgb(21, 18, 18);
    border: none;
}
